<h2>Login</h2>

<div class="no-padding">
	<div class="login-form">
		<form class="form-inline" action="auth" method="POST">
			<input type="text" class="form-control" name="username" placeholder="Username" required>
			<input type="password" class="form-control" name="password" placeholder="Password" required>
			<button class="btn btn-primary" type="submit">Entrar</button>
		</form>
	</div>
</div>